.card-text {
  line-height: 170%;
  color: #545454;
}

.card { transition: transform .4s; }
.card:hover { transform: scale(1.05); }

.like-icon { cursor: pointer }
.liked { transform: scale(1.8) translateX(-3px); }

.comment { background-color: #f5f5f5 !important; }
.comment-body { color: #585858 }